*{
    padding: 0;
    margin: 0;
}

ul {   
    padding: 0;
    width: 60%;
    overflow:hidden;
    background-color: rgb(55, 79, 215);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(3, 79, 29);
}

#navigation ul
{
	font-size: 1.4em;
}

#navigation ul li
{
    display: inline;
	color:white;
}
#navigation li:not(:first-child):before {
    content: " | ";
}





#logo{
    text-align: center;
}

.secciones{
    padding-top: 40px;
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color:rgb(55, 79, 215);
    font-family: 'Roboto', sans-serif
}

p{
    padding-top: 10px;
    color:black;
    font-family: 'Roboto', sans-serif

}



.elementos_centrales{
    text-align: center;
    padding-top: 40px;
}


#boton_wa{
    text-align: center;
    padding-top: 40px;

}

#mapa{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;

}