*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}



body{
    display: flex;
    align-items:  center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #264d2a, #83ab8c);;
}

form{
    display: flex;
    align-items:  center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(10, 0, 1, 0.7);
}

form .Title{
    color: black;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 30px;

}

form label{
    margin-bottom: 35px;
}

form button{
    color:white;
    border: none;
    background: linear-gradient(to right, #18134e, #0e1a78);
    padding: 10px 70px;
    cursor: pointer;
    font-size: 15px;
}