*{
    padding: 0;
    margin: 0;

}

#preloader{
    background: white url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921) no-repeat center center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;



}
#logo{
    text-align: center;
}

#myExcelDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1300px; 
    height: 8236px;  
    overflow-y:hidden 

}

::-webkit-scrollbar{
    width: 40px;
}

::-webkit-scrollbar-track {

    background: hsl(120, 26%, 81%);
    margin-block: .5em;
    border-radius: 100vw;

}

::-webkit-scrollbar-thumb {
    background: hsl(245, 6%, 60%);
    height: 200px;
    border-radius: 100vw;

}

::-webkit-scrollbar-thumb:hover {
    background: hsl(248, 53%, 44%);
}

.botones_reportes{
    background-color: white;
    width: 200px;
    border: 4px solid green;
    color:black;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  
    
    

}

.botones_reportes:hover {
    background: hsl(120, 26%, 81%);
}
  
#lista_de_reportes{
    text-align: center;
}
