*{
    padding: 0;
    margin: 0;

}

h1{
    text-align: center;
    background-color: black;
    color: white;
}

nav ul {
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: red;
    padding: 10px;
    width: 150px;
}